{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<div class="content-body">

	<div class="content-main">
		<h2>Create a Playbook</h2>
		<hr/>
		<form>
			<label for="name" class="control-label col-md-12">Name your playbook:</label>
			<div class="col-md-6">
				<input id="name" class="form-control col-md-6" type="text" name="name" placeholder="Name" data-error="Name"/>
			</div>
			<div class="col-md-12">
				<label for="private" class="control-label">Make this playbook private?:</label>
				<input id="private" type="checkbox" name="private" data-error="Private"/>
			</div>
			<label for="de_map" class="control-label col-md-12">Select a map:</label>
			<div class="map-selection-container">
				<div class="maps">
					<div class="map">
					</div>
					<div class="map">
					</div>
					<div class="map">
					</div>
					<div class="map">
					</div>
					<div class="map">
					</div>
					<div class="map">
					</div>
					<div class="map">
					</div>
					<div class="map">
					</div>
					<div class="map">
					</div>
					<div class="map">
					</div>
					<div class="map">
					</div>
					<div class="map">
					</div>
					<div class="map">
					</div>
					<div class="map">
					</div>
					<div class="map">
					</div>
				</div>
			</div>

	</div>
</div>

{% endblock %}