{% load staticfiles %}

{% block content %}
	<div class="nav-bar">
		<div class="logo">
			Logo
		</div>
		<div class="nav-menu-container">
			<ul class="nav-menu">
				<li class="nav-item"><a href="{% url 'index' %}" class="nav-item">Home</a></li>
				<li class="nav-item"><a href="{% url 'create_playbook' %}" class="nav-item">Create Playbook</a></li>
				<li class="nav-item"><a href="#" class="nav-item">User Playbooks</a></li>
				<li class="nav-item"><a href="#" class="nav-item">Pro Playbooks</a></li>
				{% if not user.is_authenticated %}
					<li class="nav-item"><a href="{% url 'registration' %}" class="nav-item">Register</a></li>
					<li class="nav-item"><a href="{% url 'login' %}" class="nav-item">Log In</a></li>
				{% else %}
					<li class="nav-item"><a href="{% url 'logout' %}" class="nav-item">Logout</a></li>
				{% endif %}

			</ul>
		</div>
	</div>
{% endblock %}