{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
<div class="content-body">
	<div class="content-main">
		<h2>Register an account to create Playbooks</h2>
		<hr/>
		<form id="registration_form" action="{% url 'registration' %}" class="form-group col-md-6" method="post">
			<div class="message-box alert-danger">
				<ul class="error-list">
				</ul>
			</div>

			{% csrf_token %}
			<label for="Username" class="control-label">Username:</label>
			<input id="username" class="form-control registration-inputs" type="text" name="Username" placeholder="Username"/>
			<label for="Email" class="control-label">Email:</label>
			<input id="email" class="form-control registration-inputs" type="text" name="Email" placeholder="Email"/>
			<label for="Password1" class="control-label">Password:</label>
			<input id="password1" class="form-control registration-inputs" type="password" name="Password" placeholder="Password (Minimum 6 characters)"/>
			<label for="Verify Password" class="control-label">Enter Password Again:</label>
			<input id="password2" class="form-control registration-inputs" type="password" name="Verify Password" placeholder="Enter Password Again"/>
			<input id="registration_submit" class="btn btn-success col-md-offset-9" type="submit" value="Register"/>
		</form>
		<div class="col-md-6">
			<p>Creating an account allows you to create, edit, and share your playbooks with your teammates.</p>
			<p>After clicking on the Register button, you will be sent an email asking you to confirm your account by clicking on a confirmation link.</p>
		</div>
	</div>
</div>

{% endblock %}