body {
	background-color: #181717;
	margin: 0 auto;
	height: 100%;
}


/****************/
/**** Navbar ****/
/****************/
.nav-bar {
	display: inline-block;
	width: 100%;
	height: auto;

	background-color: #333;
	box-shadow: 10px;
}

.logo {
	float: right;
	width: 20%;
	margin-right: 12.5%;

	background-color: #492;
	text-align: center;
}

.nav-menu-container {
	display: inline-block;
	margin-left: 12.5%;

	border-radius: 5px;
	text-align: center;
}

ul.nav-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.nav-item{
    float: left;
}

li a.nav-item{
    display: block;

    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a.nav-item {

}

li a.nav-item:hover {
    background-color: #181717;
}

/****************/
/***** Body *****/
/****************/

/*.content-menu {
	float: left;
	width: 17.5%;
	height: 94%;
	margin-right: 3%;

	background-color: #666;
	border-radius: 5px;
}*/

.content-body {
	display: block;
	min-height: 50%;
	width: 75%;
	margin: 0 auto;
	margin-top: 5%;


	background-color: #333;
	border-radius: 5px;
	box-shadow: 10px;
}

.content-main {
	overflow: hidden;
	width: 75%;
	margin: auto;
	min-height: 50%;

	color: white;
}

.registration-inputs {
	margin-bottom: 2%;
}

.message-box {
	display: none;

	border-radius: 5px;
}

.validation-error {
	border: 1px solid   #ff6666; 
	border-radius: 1px;
}

.validation-error::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #ff6666;
}
.validation-error:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #ff6666;
   opacity:  1;
}
.validation-error::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #ff6666;
   opacity:  1;
}
.validation-error:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #ff6666;
}
.validation-error:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: #ff6666;
}
